<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <title>Online Shopper</title>

    <!-- Bootstrap core CSS -->
    <link href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->

    <!-- Font is Montserrat -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head> 

  <body>
     <div class="jumbotron">
     <div class = 'container'>
          <!-- <div class="rw"> -->
     <!-- <div class="col-md-7 col-md-offset-4">  -->
     <p>
      <h2> Online Shopper</h2>
      <h4> Keep all your online shopping in one place!</h4>
      <br>
      <!-- <br> -->
      <h5>I am a freshman currently studying math and computer science at Yale University.</h5>
      <h5>I enjoy making origami, eating sushi, and most of all, I like creating things. </h5>

      <h5> </h5>
      <br>


      <h4>Take a look at some of my projects below!</h4>


      </p>

      <!-- </div> -->
     <!-- </div> -->
     </div>
       </div>
       <div class = 'container'>
       <div class ='projects'>
       <h2>Projects</h2>
     <div class = 'row'>

       <div class ='col-md-3'>
       <a href='/yms'><h3>Your Meal Swipe</h3></a>
       <p>
        An application that helps students plan out their purchases at Durfee's convenience shop.
       </p>
       </div>




       <div class = 'col-md-3'>
       <a href='http://www.habitar.me'><h3>Habitar</h3></a>
       <p>An avatar that helps you develop and practice good habits </p>
       </div>

       <div class = 'col-md-3'>
       <a href='http://www.rabal.me'><h3>Rabal</h3></a>
       <p>An iOS app that will translate any language into English text in real time</p>
       </div>

       </div><!-- end row -->
       </div>
       <!-- ADD PROJECTS HERE!! -->
       </div>
<!--    <div class="row">
     <div class="col-md-7 col-md-offset-4"> 
      <h1> Alan Liu</h1>
      </div>
     </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>